<mat-toolbar>
  <span>Add New User</span>
  <mat-icon>person_add </mat-icon>
</mat-toolbar>

<form #form="ngForm" autocomplete="off" (ngSubmit)="submitForm(form)">
  <div class="wrapper">
    <mat-form-field color="accent" appearance="legacy">
      <mat-label>Name:</mat-label>
      <input
        matInput
        type="text"
        #name="ngModel"
        name="name"
        required
        minlength="2"
        [(ngModel)]="userData.name"
      />
      <mat-error *ngIf="!name.valid && name.dirty && name.errors.required">
        First name is required
      </mat-error>
      <mat-error *ngIf="!name.valid && name.dirty && name.errors.minlength">
        Name must be at least 2 characters long
      </mat-error>
    </mat-form-field>

    <mat-form-field color="accent" appearance="legacy">
      <mat-label>Email:</mat-label>
      <input
        matInput
        type="email"
        #email="ngModel"
        name="email"
        required
        [(ngModel)]="userData.email"
        email
      />
      <mat-error *ngIf="!email.valid && email.dirty && email.errors.required">
        Email address is required
      </mat-error>
      <mat-error *ngIf="!email.valid && email.dirty && email.errors.email">
        Email address is not valid
      </mat-error>
    </mat-form-field>
  </div>
  <div class="buttons">
    <button
      color="accent"
      mat-button
      type="submit"
      [disabled]="!form.valid"
      (click)="addAction = true"
    >
      Add
    </button>
    <button color="accent" mat-button type="submit">Cancel</button>
  </div>
</form>
