<div class="main-container">
  <div class="users-container">
    <div class="header">
      <mat-form-field appearance="legacy" color="accent">
        <mat-label>Search</mat-label>
        <input
          matInput
          placeholder="Search by user name"
          #txt
          (keyup)="filterSearch(txt.value)"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
          <mat-option
            *ngFor="let user of filteredArr | async"
            [value]="user.name"
          >
            {{ user.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <div class="buttonAdd">
        <button mat-mini-fab color="primary" (click)="addUser()">Add</button>
      </div>
    </div>
    <br />

    <app-user
      *ngFor="let user of filteredArr | async"
      [userData]="user"
    ></app-user>
  </div>

  <div class="router-container">
    <router-outlet></router-outlet>
  </div>
</div>
