<div class="main-container">
  <div class="users-container">
    <mat-form-field appearance="legacy" color="accent">
      <mat-label>Search</mat-label>
      <input
        matInput
        placeholder="Search by user name"
        #txt
        (keyup)="filterSearch(txt.value)"
    /></mat-form-field>

    <button mat-mini-fab (click)="addUser()">Add</button>
    <br />

    <app-user
      *ngFor="let user of filteredArr | async"
      [userData]="user"
    ></app-user>
  </div>

  <div class="router-container">
    <router-outlet></router-outlet>
  </div>
</div>
