.main-container {
  display: flex;
  margin-left: 2%;
}
.users-container {
  min-width: 30vw;
  padding: 2%;
}

.mat-form-field {
  font-family: "Baloo Paaji 2", cursive;
}

button {
  font-family: "Share Tech", sans-serif;
  font-weight: 600;
  font-size: 15px;
}
