.basic-data {
  color: rebeccapurple;
  display: flex;
  flex-direction: column;
}

.mat-form-field {
  font-size: 16px;
  font-family: "Baloo Paaji 2", cursive;
  padding: 5px;
}
.mat-error,
a {
  font-family: "Baloo Paaji 2", cursive;
}

a:link,
a:visited,
a {
  text-decoration: none;
  line-height: 0.5;
  color: rebeccapurple;
}
.mat-card {
  background-image: linear-gradient(to right bottom, #fff, #f1d8f5);
  border-radius: 5%;
  margin-bottom: 4%;
  width: 100%;
  min-width: 300px;
  max-width: 300px;
  animation: moveInLeft 0.8s ease-out;
}

.selectedColor {
  background-image: linear-gradient(
    to right bottom,
    hsla(0, 42%, 90%, 0.3),
    hsla(0, 94%, 79%, 0.719)
  );
  background-size: cover;
}
.borderRed {
  border: 2px solid red;
}
.borderGreen {
  border: 2px solid green;
}
.borderGreen-active {
  border: 2px solid green;
  background-image: linear-gradient(
    to right bottom,
    hsla(114, 41%, 90%, 0.3),
    hsla(105, 50%, 76%, 0.719)
  );
  background-size: cover;
}

button {
  font-family: "Share Tech", sans-serif;
  font-weight: 600;
  font-size: 16px;
  border: 0.4px solid rgb(138, 128, 137);
}

.mat-card-actions {
  display: flex;
  justify-content: space-between;
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-5rem);
  }
  80% {
    transform: translateX(0.3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
