<div class="container">
  <mat-toolbar>
    <span>New Post - User {{ id }}</span>
    <mat-icon>comment</mat-icon>
  </mat-toolbar>
  <form #form="ngForm" autocomplete="off" (ngSubmit)="submitForm(form)">
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Title:</mat-label>
      <input
        type="text"
        matInput
        placeholder="Title"
        required
        minlength="2"
        name="title"
        #post="ngModel"
        [(ngModel)]="title"
      />
      <mat-hint align="end">Min 2 characters</mat-hint>
      <mat-error *ngIf="!post.valid && post.dirty && post.errors.required">
        Title is required
      </mat-error>
      <mat-error *ngIf="!post.valid && post.dirty && post.errors.minlength">
        Title must be at least 2 characters long
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" color="accent">
      <mat-label>Body:</mat-label>
      <input
        type="text"
        matInput
        placeholder="Type your post body"
        required
        minlength="2"
        name="body"
        #bodyPost="ngModel"
        [(ngModel)]="body"
      />
      <mat-error
        *ngIf="!bodyPost.valid && bodyPost.dirty && bodyPost.errors.required"
      >
        body is required
      </mat-error>
      <mat-error
        *ngIf="!bodyPost.valid && bodyPost.dirty && bodyPost.errors.minlength"
      >
        Post body must be at least 2 characters long
      </mat-error>
    </mat-form-field>
    <div class="buttons">
      <button
        mat-button
        align="end"
        color="accent"
        type="submit"
        (click)="cancelAction = true"
      >
        Cancel
      </button>
      <button
        mat-button
        align="end"
        color="accent"
        type="submit"
        (click)="addAction = true"
        [disabled]="!form.valid"
      >
        Add
      </button>
    </div>
  </form>
</div>
