<div>
  <div class="header">
    <mat-toolbar>
      {{ dataType }}- User {{ id }}
      <button mat-flat-button color="primary" (click)="addData()">
        <mat-icon>add</mat-icon>
        <label>Add</label>
      </button>
    </mat-toolbar>
  </div>
  <div *ngIf="dataType === 'Todos'">
    <app-task
      *ngFor="let todo of todos | async"
      [todos]="true"
      [data]="todo"
    ></app-task>
  </div>
  <div *ngIf="dataType === 'Posts'">
    <app-task
      *ngFor="let post of posts | async"
      [todos]="false"
      [data]="post"
    ></app-task>
  </div>
</div>
