.mat-toolbar {
  font-family: "Share Tech", sans-serif;
  display: flex;
  justify-content: space-between;
}

button {
  font-family: "Share Tech", sans-serif;
  font-weight: 600;
  font-size: 16px;
  border: 0.4px solid rgb(138, 128, 137);
  color: accent;
}
.mat-icon {
  font-size: 22px;
}

.container {
  animation: moveInBottom 0.5s ease-out;
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  80% {
    transform: translateY(-0.5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
