label,
h3 {
  font-weight: 600;
  padding: 5px;
}

.completed {
  display: flex;
  justify-content: space-between;
}

.mat-list-item {
  font-family: "Baloo Paaji 2", cursive;
}

button {
  font-size: 14px;
  font-family: "Share Tech", sans-serif;
  font-weight: 600;
}
.mat-icon {
  line-height: 0.8;
}

.mat-card {
  margin: 3px;
  border: 0.5px inset blueviolet;
  box-shadow: 5px 5px 5px 0px rgba(232, 222, 233, 0.39);
}

.body p {
  font-size: 12px;
}
