<mat-card>
  <mat-card-content>
    <mat-list>
      <mat-list-item
        ><mat-icon>label_important </mat-icon><label>Title: </label
        ><span [class.delete]="data.completed">{{
          data.title
        }}</span></mat-list-item
      >
      <mat-divider></mat-divider>
      <mat-list-item
        ><mat-icon>attachment </mat-icon><label>Completed: </label
        >{{ data.completed }}</mat-list-item
      >
      <mat-card-actions align="end">
        <button
          mat-button
          color="accent"
          *ngIf="!data.completed"
          (click)="completeTask()"
        >
          <mat-icon>check</mat-icon>
          Mark Completed
        </button>
      </mat-card-actions>
    </mat-list>
  </mat-card-content>
</mat-card>
