label {
  font-weight: 600;
  padding: 10px;
}

.mat-list-item {
  font-family: "Baloo Paaji 2", cursive;
  display: flex;
  justify-content: space-between;
}

button {
  font-size: 14px;
  font-family: "Share Tech", sans-serif;
  font-weight: 600;
}

.mat-card {
  margin: 3px;
  border: 0.5px inset blueviolet;
  box-shadow: 5px 5px 5px 0px rgba(232, 222, 233, 0.39);
}

.body p {
  font-size: 12px;
}
.mat-card-actions {
  padding: 0px;
  margin: 0px;
}
.delete {
  text-decoration: line-through;
}
